/* resetstyle */
*{ 
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body{
     background-color:rgb(228, 228, 255)
}

.flex-container{
     display: flex;
     flex-wrap: wrap;
     gap:10px;
}

.flex-item{
     flex-basis: calc(50% - 5px);
     flex-grow: 0;
     flex-shrink: 0;
     background-color: rgb(137, 136, 136);
     color: white;
     border:3px solid rgb(120, 120, 120);
     padding: 10px;
     text-align: center;
     height: 100px;
}

.flex1{
      background-color:pink;
}

.flex2{
     background-color: aqua;
}

.flex3{
     background-color: blue;
}

.flex4{
     background-color: peru;
}

.flex5{
     background-color: aquamarine;
}

.flex6{
     background-color: palegreen;
}

img{
     width: 10%;
}